<div data-role="header">
  <h1>Crear tipo de nota</h1>
  <%= link_to 'Regresar', tipos_notas_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<%= render 'form' %>
