<div data-role="header">
  <h1>Vínculo con sección</h1>
  <%= link_to 'Regresar', @actividad_seccion.actividad, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<div data-role="content" class="content-primary">
  
  <ul data-role="listview">
    <li>
      Actividad:
      <%= @actividad_seccion.actividad.nombre %>
    </li>
    <li>
      Sección:
      <%= @actividad_seccion.seccion.grado_seccion %>
    </li>
  </ul>
</div>