<div data-role="header">
  <h1>Alumnos</h1>
</div>

<div data-role="content" class="content-primary">
  
  <ul data-role="listview" data-filter="true">
    <% @alumnos.each do |alumno| %>
    <li data-filtertext="<%= alumno.apellidos_nombres %>" >
      <%= link_to alumno do %>
        <%= simple_format(alumno.apellidos_nombres) %>         
      <% end %>
    </li>
    <% end  %>
  </ul>
</div>