<div data-role="header">
  <h1>Personas vinculadas</h1>
  <%= link_to 'Regresar', alumnos_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<div data-role="header" style="text-align: center" data-theme="c">
  Alumno: <%= @alumno.apellidos_nombres %>
</div>
<%= render @alumno.alumnos_personas_vinculadas %>

<br/>
Agregar personas vinculadas:

<%= render "alumnos_personas_vinculadas/form" %>