<div data-role="header">
    <h1>Menú de opciones</h1>
</div>

<div data-role="content">
  <div class="content-primary">
    <ul data-role="listview">
        <li data-role="list-divider">Cuaderno de control</li>
        <li><a href="/cuadernos_controles">Registrar</a></li>
        <li><a href=<%= "/cuaderno_controles_revisiones/#{current_user.usuario}/revision" %> >Revisar</a></li>
        <li><a href="/cuaderno_controles_revisiones/">Verificar</a></li>
        <li data-role="list-divider">Seguridad de alumnos</li>
        <li><a href="/personas_vinculadas">Personas vinculadas</a></li>
        <li><a href="/alumnos/0/listar_seccion">Vincular personas</a></li>
        <li><a href="/alumnos_personas_vinculadas/0/0/consultar">Salida de alumnos</a></li>
    </ul>
  </div><!--/content-primary -->	
</div>