<div class="box round first grid">
                <h2>
                    Cargar alumnos
                </h2>
                <div class="block">                                                           
                    
                                        
<%= form_tag({:controller => "archivos", :action => "cargar_alumnos"}, :method => "post", :multipart => true) do %>
   <%= file_field_tag "archivo", :required => "required" %>
   <%= submit_tag "Cargar alumnos" %>
<% end %>
<% if @formato_erroneo %>
  <div>
     <p> El formato ingresado es incorrecto. Usted sólo puede subir archivos .txt </p>
  </div>
<% end %>                                       
                                        
			
                    
                </div>
            </div>