<div id='Permiso' data-role="header">
  <h1>Detalles</h1>
  <%= link_to 'Aceptar', permisos_path, "data-icon" => "check", "data-mini" => "true"  %>
</div>

<div data-role="content" style="clear: left">
  <b>Clase de sujeto:</b> <%= @permiso.subject_class %><p>
</div>
<div data-role="content" style="clear: left">
  <b>Acción:</b> <%= @permiso.action %><p>
</div>


<div data-role="footer">
<!--   <%= link_to 'Editar', edit_perfil_permiso_path(@perfil_permiso), "class" => "ui-btn-left", "data-inline" => "true", "data-theme" => "a", "data-icon" => "gear", "data-mini" => "true" %>  -->
</div>