<div data-role="header">
  <h1>Modificación de evento (<%= "#{@cuaderno_control.fecha} | #{Seccion.find(@cuaderno_control.seccion_id).grado_seccion}" %> )</h1>
  <%= link_to 'Regresar', @cuaderno_control %>
</div>

<%= render 'form' %>
