<div id='cuaderno_control_evento' data-role="header">
  <h2><%= TipoEvento.find(@cuaderno_control_evento.tipo_evento_id).descripcion %></h2>  
  <%= link_to 'Aceptar', @cuaderno_control %>
</div>

<div data-role="content">
  <%= simple_format(@cuaderno_control_evento.descripcion) %>
  <%= simple_format(Alumno.find(@cuaderno_control_evento.alumno_id).apellidos_nombres) %>
</div>
