<div data-role="header">
    <h1>Editar valor de la variable</h1>
    <%= link_to 'Regresar', listas_valores_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<%= render 'form' %>
