<div data-role="header">
  <h1>Asignar permisos</h1>
  <%= link_to 'Regresar', perfiles_permisos_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<%= render 'form' %>