<div data-role="header">
  <h1>Revisión de cuaderno de control</h1>
</div>

<div data-role="content">
  <ul data-role="listview" data-filter="true" data-inset="true">
    <% @cuaderno_controles_revisiones.each do |cuaderno_control_revision| %>
    <li data-filtertext="<%= "#{cuaderno_control_revision.cuaderno_control.fecha} #{cuaderno_control_revision.alumno.apellidos_nombres}" %>" >
      <%= link_to cuaderno_control_revision do %>
        <% if cuaderno_control_revision.revisado == 1 %>
          <% revisado = "Revisado" %>
        <% else %>
          <% revisado = "No revisado" %>
        <% end %>
        <%= simple_format("#{cuaderno_control_revision.cuaderno_control.fecha} - #{cuaderno_control_revision.alumno.apellidos_nombres} - #{revisado}") %>        
      <% end %>
      
    </li>
    <% end %>
  </ul>
</div>