<p>Estimado(a) señor(a) <%= @persona.nombre %>:</p>
<p>Se ha creado las credenciales para que Ud. pueda ingresar al sistema MiCole </p>
<p>
Usuario: <%= @persona.usuario %>
<br>
Clave: <%= @persona.usuario %>
</p>

<p>

    <%= image_tag attachments['logo_small.jpg'].url -%>
</p>