<div data-role="header">
    <h1>Editar actividad</h1>
    <%= link_to 'Regresar', actividades_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<%= render 'form' %>
