<div data-role="header">
  <h1>Nueva persona vinculada</h1>
  <%= link_to 'Regresar', personas_vinculadas_path, "data-icon" => "back", "class" => "ui-btn-left", "data-mini" => "true" %>
</div>

<%= render 'form' %>